<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Property</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="property-form">

    <h1>Edit Property</h1>

    <form action="/properties/update" method="post">

        <input type="hidden" name="id" th:value="${property.id}">

        <label>Title:</label>
        <input type="text" name="title" th:value="${property.title}" required>

        <label>Location:</label>
        <input type="text" name="location" th:value="${property.location}" required>

        <label>Price:</label>
        <input type="number" name="price" th:value="${property.price}" required>

        <label>Property Type:</label>
        <select name="propertyType" required>
            <option value="House"
                    th:selected="${property.propertyType == 'House'}">
                House
            </option>

            <option value="Apartment"
                    th:selected="${property.propertyType == 'Apartment'}">
                Apartment
            </option>

            <option value="Land"
                    th:selected="${property.propertyType == 'Land'}">
                Land
            </option>
        </select>

        <label>Additional Value:</label>
        <input type="number" name="extraValue" min="0" th:value="${extraValue}" required>

        <label>Description:</label>
        <textarea name="description" required th:text="${property.description}"></textarea>

        <button type="submit">Update Property</button>

    </form>

    <br>

    <a class="action-link" href="/properties">
        Back to Properties
    </a>

</div>

</body>
</html>